{% extends 'base.html' %}

{% block content %}
<form method="POST" action="/search">
    <div class="mb-3">
        <input type="text" class="form-control" name="query" id="query" placeholder="Enter your search query" value="{{ query }}" autofocus>
    </div>
     <div class="mb-3">
        <select class="form-select" name="query_type" id="query_type" required>
            <option value="" disabled selected>Choose your search strategy</option>
            <option value="multi_match">Full match</option>
            <option value="knn">KNN</option>
            <option value="hybrid">Hybrid</option>
            <option value="tf-idf">Semantic Search</option>
        </select>
    </div>
    
    <button type="submit" class="btn btn-primary">Search</button>
</form>

    {% if results %}
        <div class="row mb-3">
            <div class="col-12">
                <div class="row mb-3">
                    <div class="col-sm-auto my-auto">
                        Showing results {{ from_ + 1 }}-{{ from_ + results|length }} out of {{ total }}.
                    </div>
                    {% if from_ > 0 %}
                        <div class="col-sm-auto my-auto">
                            <a href="javascript:history.back(1)" class="btn btn-primary">← Previous page</a>
                        </div>
                    {% endif %}
                    {% if from_ + results|length < total %}
                        <div class="col-sm-auto my-auto">
                            <form method="POST">
                                <input type="hidden" name="query" value="{{ query }}">
                                <input type="hidden" name="from_" value="{{ from_ + results|length }}">
                                <input type="hidden" name="query_type" value="{{ query_type }}">
                                <button type="submit" class="btn btn-primary">Next page →</button>
                            </form>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="container">
            <h2>Search Results</h2>
            <div class="row">
                {% for result in results %}
                    <div class="col-md-6 mb-4">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title">{{ from_ + loop.index }}. {{ result._source.CELEX_ID }}</h5>
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                    {{ result._source.Text[:200] }}...
                                </p>
                                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal{{ loop.index }}">Read more</button>
                            </div>
                            <div class="card-footer text-muted">
                                <div>
                                    <strong>Directory Code:</strong> {{ result._source['Directory code'] }}<br>
                                    <strong>Publication Info:</strong> {{ result._source.PublicationInfo }}<br>
                                    {% if result._score %}
                                        <i>(Score: {{ result._score }})</i>
                                    {% endif %}
                                </div>

                                <div class="accordion mt-2" id="accordionCitations{{ loop.index }}">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingCitations{{ loop.index }}">
                                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCitations{{ loop.index }}" aria-expanded="true" aria-controls="collapseCitations{{ loop.index }}">
                                                Citations ({{ result._source.Citations | length }})
                                            </button>
                                        </h2>
                                        <div id="collapseCitations{{ loop.index }}" class="accordion-collapse collapse" aria-labelledby="headingCitations{{ loop.index }}" data-bs-parent="#accordionCitations{{ loop.index }}">
                                            <div class="accordion-body">
                                                <ul class="list-unstyled">
                                                    <li>{{ result._source.Citations }}</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Modal for full text -->
                    <div class="modal fade" id="modal{{ loop.index }}" tabindex="-1" aria-labelledby="modalLabel{{ loop.index }}" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="modalLabel{{ loop.index }}">Full Text of Document {{ result._source.CELEX_ID }}</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <pre>{{ result._source.Text }}</pre>  <!-- Use <pre> for preserving formatting -->
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    
    {% elif request.method == 'POST' %}
        <p>No results found.</p>
    {% endif %}
{% endblock %}
